<section class="bg-sky-200">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officiis facere maiores labore doloribus dolorem veritatis voluptate magni, enim aperiam vitae porro. Eos autem nulla nobis ipsa quia in iure.</p>
</section>
<p class="text-green-800">nekotea works!</p>
<div class=" mt-20 lg:pb-96 pb-32">
    <div class="container mx-auto lg:text-6xl md:text-4xl text-xl leading-relaxed text-center SVN-Dancing-400  px-1">
        <p class="mx-12 mt-7 lg:px-9 md:px-10 text-green-600 relative">
            <span class="gottham-normal lg:text-[250px] md:text-[200px] text-9xl absolute lg:-top-28 md:-top-24 -top-12 -left-14">“</span>
            Có tiền đâu mà đào ao, không có tiền làm sao mà đào ao được. Nếu có tiền mình đào ao để làm bắp, làm đậu, làm đậu xanh, có phân gì thì bỏ phân nấy. Có nước thì mình tưới là nó không có bệnh, hễ khô là có bệnh.
            <span class="gottham-normal lg:text-[250px] md:text-[200px] text-9xl -scale-y-100 rotate-180 absolute lg:-bottom-36 md:-bottom-24 -bottom-12">“</span>
        </p>
    </div>
</div>

<section id="KNDC" class="relative bg-green-800 mt-40">
  <div class="max-w-[1400px] relative mx-auto">
    <img
      src="/assets/images/project-interventions/KNDC.png"
      class="w-[30%] h-full pb-4 absolute hidden lg:block right-0 z-10"
    />
    <div class="flex-none lg:flex w-full container mx-auto px-4 md:px-0">
      <div class="lg:w-1/2 mb-16 pt-12">
        <h1 class="text-white Fraunces-700 text-[41px] ml-0 md:ml-6">
          Kết nối dặm cuối
        </h1>
        <p
          class="mt-8 text-white text-[15px] Fraunces-400 text-justify md:mr-14 md:ml-6"
        >
          Tại các vùng khô hạn của các tỉnh Dự án, Chính phủ đang đầu tư xây
          dựng cơ sở hạ tầng thủy lợi, gồm hệ thống đường ống, hệ thống kênh
          mương thủy lợi dẫn nước từ các hồ chứa tới cánh đồng (dự án WEIDAP).
          Đối với các hộ nghèo, cận nghèo nằm trong phạm vi 1km từ các họng nước
          do dự án WEIDAP xây dựng, không có điều kiện mua trang thiết bị kết
          nối với hệ thống trên để mang nước về mặt ruộng, trang trại của mình,
          Dự án sẽ hỗ trợ các trang thiết bị cần thiết, như đường ống, van, bơm,
          vòi chia…Đồng thời, sẽ hỗ trợ các nhóm nông dân triển khai các hạng
          mục như: thi công hệ thống bơm, kênh chính, họng chia, đường tuần tra,
          đường đặt ống chính… Khi dẫn được nước tới mặt ruộng, trang trại của
          mình, hộ nghèo, cận nghèo sẽ có điều kiện trồng trọt tốt hơn để đối
          phó với tình trạng biến động lượng mưa và hạn hán ngày càng gia tăng.
        </p>
      </div>
      <div class="w-full lg:w-1/2 relative flex lg:flex-none justify-end">
        <img
          src="/assets/images/project-interventions/KNDC.png"
          class="w-[60%] block lg:hidden h-full pb-4 z-10 items-end"
        /><img
          src="/assets/images/project-interventions/KNDC-3.png"
          class="w-[25%] absolute left-[30%] top-[16%] z-0"
        /><img
          src="/assets/images/project-interventions/KNDC-2.png"
          class="w-[47%] absolute left-[17%] top-[25%] z-20"
        />
      </div>
    </div>
  </div>
</section>

<!-- Navbar Start -->
<section class="relative">
    <div class="bg-gradient-to-r from-green-700 via-green-600 to-green-700 ">
        <img src="/assets/images/contact/banner.png" class="mix-blend-overlay w-full h-56 sm:h-64 object-cover "
            alt="" />
    </div>
    <div class="flex justify-center">
        <div class="absolute top-32 sm:top-36 text-center text-white">
            <h1 class="text-3xl sm:text-5xl Fraunces-600">Liên hệ</h1>
            <p class="text-xs md:text-base mt-2 md:mt-5">
                <a [routerLink]= "'/'" class="hover:text-green-400">Trang chủ </a>/
                <a class="hover:text-green-400">Tổng quan</a> /
                <a [routerLink]= "'/contact'"class="hover:text-green-400">Liên hệ</a>
            </p>
        </div>
    </div>
  </section>
  <!-- Navbar End -->
  
  <!-- Content Start -->
  <section class="w-full bg-[url('/assets/images/contact/contact_1.png')] bg-no-repeat bg-cover bg-center">
    <div class="container py-32 mx-auto">
        <div class="flex justify-center">
          <div class=""> 
            <h1 class="Fraunces-600 not-italic sm:text-xl text-lg leading-8 text-justify ">
              Chương trình Phát triển Liên Hợp Quốc
            </h1>
            <div class="flex items-center gap-2 pt-4">
              <img src="/assets/images/contact/icon_diachi.png" class="w-14 h-14" alt="">
              <p>
                304 Kim Mã, Quận Ba Đình, Thành phố Hà Nội
              </p>
            </div>
              <div class="flex items-center gap-2 pt-3">
                <img src="/assets/images/contact/icon_phone.png" class="w-14 h-14" alt="">
                <p>
                  (+84 4) 38 500100 - (84-4) 37265520
                </p>
              </div>
              <div class="">
                <h1 class="Fraunces-600 not-italic sm:text-xl text-lg leading-8 text-justify mt-6">
                  Ms. Nguyễn Thị Phương Dung, Cán bộ Truyền thông
                </h1>
                <div class="flex items-center gap-2 pt-4">
                  <img src="/assets/images/contact/icon_email.png" class="w-14 h-14" alt="">
                  <p>
                    nguyen.thi.phuong.dung@undp.org
                  </p>
                </div>
              </div>
            </div>    
          </div>
    </div> 
  </section>
  <section class="bg-green-800 py-32"></section>