<!-- Header -->
<section class="bg-[url('/assets/images/aboutus/aboutus_header.png')] bg-cover bg-no-repeat bg-center">
    <div class="container mx-auto text-center text-white pb-7 pt-48">
        <p class="text-4xl sm:text-5xl Fraunces-700 pb-5">Giới thiệu về dự án</p>
        <p class="Fraunces-400">
            <a [routerLink]="'/'" class="hover:text-green-500">Trang chủ </a>
            / Tổng quan / Giới thiệu về dự án
        </p>
    </div>
</section>

<!-- Body -->
<section class="bg-orange-50">
    <div class="container mx-auto">
        <!-- Title -->
        <div class="text-center py-10">
            <p class="text-4xl text-green-600 Fraunces-700">Giới thiệu</p>
            <p class="text-2xl sm:text-3xl text-blue-600 Fraunces-400 mt-4 2xl:mx-16 px-4 lg:px-32 xl:px-64 2xl:px-80">
                Tăng cường khả năng chống chịu của nông nghiệp quy mô nhỏ với an ninh nguồn nước do biến đổi khí hậu khu vực Tây Nguyên và Nam Trung Bộ (GCF2-SACCR)
            </p>
        </div>
        <!-- Content -->
        <div class="mx-10">
        <!-- Content 1 -->
        <div class="inline-block lg:flex justify-center">
            <div class="lg:w-2/6 flex items-center">
                <p class="text-justify text-gray-700 Fraunces-400 leading-8 2xl:pl-14">
                    Việt Nam đặc biệt dễ bị tổn thương bởi biến đổi khí hậu và thực tế là đã bị ảnh hưởng bởi sự biến đổi khí hậu ngày càng bất thường và dữ dội hơn. Hai trong số những khu vực dễ bị tổn thương nhất với rủi ro khí hậu là Tây Nguyên và Nam Trung Bộ. Sự thay đổi về lượng mưa đang dẫn đến thiếu hụt ngày càng tăng về nguồn nước mặt và nước ngầm cho sản xuất nông nghiệp. Hạn hán nghiêm trọng và bất thường gây thiệt hại mùa màng, mất đất canh tác, giảm sản lượng, mất sinh kế cũng như thu nhập nói chung.
                </p>
            </div>
            <div class="lg:w-3/6 pl-14 xl:pr-0 2xl:pr-4">
                <img class="w-full object-cover" src="/assets/images/aboutus/content1.png" alt="content1">
            </div>
        </div>
        </div>
    </div>
</section>